{% extends 'base.html' %}

{% block title %}Listar Revistas{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <center>
                <h1>Lista de revistas</h1>

                <table style="width:100%" class="table table-striped">
                    <tr>
                        <th>Nome</th>
                        <!-- <th>Usuário que cadastrou</th> -->
                        <th>Opções</th>
                    </tr>

                    {% for revista in revistas %}
                    <tr>
                        <td>{{ revista.nome }}</td>
                        <!-- <td>{{ revista.idUsuario }}</td> -->
                        <td>
                            <a href="{% url 'editarRevista' revista.id %}" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'excluirRevista' revista.id %}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </center>

            <br/>
            <a href="{% url 'adicionarRevista'%}" class="btn btn-primary">Nova Revista</a>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}