{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Posts{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <center>
                <h1>Lista de Posts</h1>

                <table style="width:100%" class="table table-striped">
                    <tr>
                        <th>Título</th>
                        <th>Corpo do Post</th>
                        <th>Data da publicação</th>
                        <th>Revista</th>
                        <th>Opções</th>
                    </tr>

                    {% for post in posts %}
                    <tr>
                        <td>{{ post.titulo }}</td>
                        <td>{{ post.corpo }}</td>
                        <td>{{ post.dataPublicacao }}</td>
                        <td>{{ post.revistaAssociada }}</td>
                        <td>
                            <a href="{% url 'update_post' post.id %}" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </center>

            <br/>
            <a href="{% url 'create_post'%}" class="btn btn-primary">Novo Post</a>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}