{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Posts | Nova/Atualizar{% endblock %}

{% block main %}
    <h1>Novo/Atualizar Post</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    <button onclick="goBack()" class="btn btn-danger">Go Back</button> &nbsp;


    {% if post %}
        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Deletar</a>
    {% endif %}
{% endblock %}

<script>
function goBack() {
    window.history.back()
}
</script>