<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h3>Olá, {{ user }}</h3>
        <a href="{% url 'logout' %}">Logout</a>
        |
        <a href="{% url 'update' %}">Atualizar Dados</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        |
        <a href="{% url 'signin' %}">Cadastrar-se</a>
    {% endif %}
    | <a href="/admin" target="_blank">Admin</a>
    <h1> Ola Mundo </h1>

</body>
</html>